<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to riddlr! </h1>
    <p>
      You have been invited to take a riddlr test<br>
    </p>
    <p><%=@senderMessage%></p>
    <p><%=@test_id%></p>
    <p>
      To access the test, just follow this link: <%=@url%>
    </p>
    <p>Good luck!</p>
  </body>
</html>